.container {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));

	padding: 1rem/* 16px */;

	border-bottom-width: 1px;

	display: flex;

	align-items: center;
}

.avatar {
	height: 2.5rem/* 40px */;
	width: 2.5rem/* 40px */;
}

.chatName {
	margin-left: 0.75rem/* 12px */;
	font-weight: 600;
}
